---
http_interactions:
- request:
    method: get
    uri: https://api.stagingeb.com/v1/properties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-authorization:
      - REDACTED
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - W/"094ce2ab9d56455e28c6b2e98cbe2d87"
    body:
      encoding: UTF-8
      string: '{"pagination":{"limit":20,"page":1,"total":1105,"next_page":"https://api.stagingeb.com/v1/properties?page=2"},"content":[{"public_id":"EB-B0425","title":"Casa
        bien bonita","title_image_full":"https://assets.stagingeb.com/property_images/20425/47919/EB-B0425.jpg?version=1555346000","title_image_thumb":"https://assets.stagingeb.com/property_images/20425/47919/EB-B0425.jpg?version=1555346000\u0026width=200","location":"San
        Antonio El Grande, Aquiles Serdán, Chihuahua","operations":[{"type":"sale","amount":8000.0,"currency":"MXN","formatted_amount":"$8,000","commission":{"type":"percentage","value":"5.0"},"unit":"square_meter"}],"bedrooms":4,"bathrooms":4,"parking_spaces":3,"property_type":"Casa","lot_size":300.0,"construction_size":220.0,"updated_at":"2024-08-12T23:33:24-06:00","agent":"Alejandro
        Blanco Zivec","show_prices":true,"share_commission":true},{"public_id":"EB-B1027","title":"Bodega
        en Naucalpan","title_image_full":"https://assets.stagingeb.com/property_images/21027/29467/EB-B1027.jpg?version=1544817901","title_image_thumb":"https://assets.stagingeb.com/property_images/21027/29467/EB-B1027.jpg?version=1544817901\u0026width=200","location":"2a
        Ampliación Presidentes, Álvaro Obregón, Ciudad de México","operations":[{"type":"sale","amount":12500000.0,"currency":"MXN","formatted_amount":"$12,500,000","commission":{"t[...]
